<div class="event-img-fix">
    <%= image_tag  "/assets/images/show-event.jpg", class: "event-show-img" %>
    <p>主催者情報</p>	
</div>
<div class="container-fluid bg-palegreen">

    <!-- 上の余白 -->
    <div class="h-120"></div>

    <!-- TOP画像 -->

    <%= @user.id %>
    <h1>Users#event</h1>
    <p>Find me in app/views/users/event.html.erb</p>
</div>
