<div class="pc-header">
    <!-- ヘッダーの部分テンプレート -->
    <div style="height: 150px;" class="d-flex align-items-center justify-content-center bg-black">
        <!-- 部分テンプレート読んでみる "_header-menu.html.erb"が呼ばれる -->
        <%= render 'layouts/header-menu' %>
    </div>
</div>
